Engine/Unity/Example/.vs
Engine/Unity/Example/.vscode
Engine/Unity/Example/Builds
Engine/Unity/Example/Export
Engine/Unity/Example/Library
Engine/Unity/Example/Logs
Engine/Unity/Example/Temp
Engine/Unity/Example/obj
Engine/Unity/Example/NativePlugins
Engine/Unity/Example/UnityPackages
Engine/Unity/Example/SerializedBuildInfo

Language/C#/Example/E01/bin
Language/C#/Example/E01/obj