Engine/Unity/3.x/Beginning/Learning_01/Example/.vs
Engine/Unity/3.x/Beginning/Learning_01/Example/.vscode
Engine/Unity/3.x/Beginning/Learning_01/Example/Builds
Engine/Unity/3.x/Beginning/Learning_01/Example/Export
Engine/Unity/3.x/Beginning/Learning_01/Example/Library
Engine/Unity/3.x/Beginning/Learning_01/Example/Temp
Engine/Unity/3.x/Beginning/Learning_01/Example/obj

Language/C#/Beginning/Learning_01/Example/.vs
Language/C#/Beginning/Learning_01/Example/.vscode
Language/C#/Beginning/Learning_01/Example/Example/bin
Language/C#/Beginning/Learning_01/Example/Example/obj

Language/Python/Learning_01/Example/E01/Example_043/__pycache__
